:root {
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background: #f6f6f6;
    font-family: Roboto;
}

#root {
    display: flex;
}

body,
input,
button,
textarea {
    color: #000;
    font-family: Roboto;
}
